.covid_class{
    background-color: white;
    height: 50vh;
}
.covid{
    display: flex;
    justify-content: space-around;

}
.covid_component_1{
    padding: 2rem;
    border: solid blue;
}
.covid_component_2{
    margin-top: 1rem;
    padding: 2rem;
    border: solid blue;
}
.covid_component_3{
    margin-top: 1rem;
    padding: 2rem;
    border: solid blue;
}

.covid_component_4{
    padding: 2rem;
    border: solid blue;
}
.covid_component_5{
    margin-top: 1rem;
    padding: 2rem;
    border: solid blue;
}
.covid_component_6{
    margin-top: 1rem;
    padding: 2rem;
    border: solid blue;
}